@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --c-background: 220 26% 9%;
    --c-foreground: 210 20% 98%;

    --c-primary: 193 76% 56%;
    --c-primary-foreground: 220 26% 9%;

    --c-secondary: 220 16% 16%;
    --c-secondary-foreground: 210 20% 98%;

    --c-muted: 220 16% 16%;
    --c-muted-foreground: 215 20% 65%;

    --c-accent: 220 16% 16%;
    --c-accent-foreground: 210 20% 98%;

    --c-destructive: 0 65% 45%;
    --c-destructive-foreground: 210 20% 98%;

    --c-ring: 220 16% 22%;
  }
}
