package views

templ Index() {
	<div class="space-y-2">
		<div class="text-3xl">Home Page -> index.templ</div>
		<div id="ping" class="text-indigo-400"></div>
		<button type="button" class="bg-indigo-400 w-24 p-2 rounded-lg shadow-md text-white" hx-trigger="click" hx-post="/ping" hx-target="#ping" hx-swap="innerHTML">Ping</button>
	</div>
}
